<footer class="footer">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-md-4 text-md-left">
              <h4>GET IN TOUCH</h4>
              <p><i class="far fa-envelope"></i> k.con</p>
              <p><i class="fas fa-phone"></i> 717-555-1234</p>
          </div>
          <div class="col-md-4 text-center">
              <button class="btn btn-outline-light">CONTACT ME</button>
          </div>
          <div class="col-md-4 text-md-right">
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <p class="mt-3">Copyright © 2019 KR</p>
          </div>
      </div>
  </div>
</footer>
