.footer {
            background-color: #222; 
            color: #fff;
            padding: 30px 0;
            text-align: center;
        }

        .footer a {
            color: #fff;
            margin: 0 10px;
        }
