<div class="skills">
  <h1>Skills</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, debitis pariatur atque necessitatibus nemo distinctio velit ad numquam tenetur deleniti ipsa sit, eaque ipsam minus sint cum quisquam itaque. Mollitia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci et cupiditate obcaecati vitae? Recusandae praesentium sequi eius et ad, quibusdam ducimus nostrum sunt nisi placeat quasi aspernatur cum dolor iure?</p>
  <div class="d-grid">
      <div class="row">
          <div class="col first">
              <h2>MY Focus</h2>
              <ul>
                  <li>UI/UX</li>
                  <li>Responsive Design</li>
                  <li>Web design</li>
                  <li>Mobile App Design</li>
              </ul>
          </div>
          <div class="col progress-col">
              <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" style="width: 90%">
                      <span>HTML</span>
                  </div>
              </div>
              <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" style="width: 90%"><span>CSS</span></div>
              </div>
              <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" style="width: 80%"><span>Javascript</span></div>
              </div>
              <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" style="width: 80%"><span>React</span></div>
              </div>
              <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" style="width: 90%">
                      <span>Photoshop</span>
                  </div>
              </div>
              <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" style="width: 70%"><span>Adobe XD</span></div>
              </div>
              <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" style="width: 60%"><span>Node.js</span></div>
              </div>
              <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" style="width: 50%"><span>Wordpress</span></div>
              </div>
          </div>
      </div>
  </div>
</div>
