<div class="portfolio">
  <div class="container">
      <h1>Portfolio</h1>
      <div class="cards text-center">
          <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
              <div class="col">
                  <div class="card-item web-design">Web Design
                      <span></span>
                  </div>
              </div>
              <div class="col">
                  <div class="card-item mobile-design">MOBILE DESIGN
                      <span></span>
                  </div>
              </div>
              <div class="col">
                  <div class="card-item logo-design">Logo Design
                      <span></span>
                  </div>
              </div>
              <div class="col">
                  <div class="card-item web-application">WEB APPLICATION <br> DEVELOPMENT</div>
              </div>
              <div class="col">
                  <div class="card-item mobile-application">MOBILE APPLICATION DEVELOPMENT </div>
              </div>
              <div class="col">
                  <div class="card-item pwa-development">PWA  <br> DEVELOPMENT</div>
              </div>
          </div>
      </div>
  </div>
</div>
